.choices{
    font-size: 80px;
}

.choicesButton{
    width: 100px;
    cursor: pointer;
}

.containerChoices, .containerPicked{
    display: flex;
    margin:10px;
    gap:40px;

}

.container-history{
    display: flex;
    justify-content: space-around;
}

.container-history-three{
    justify-content: center;
    width: 400px;
    display: flex;
    flex-direction: column;
}


.history-individual {
    text-align: center;
    width:100px
}

.wholeContainer, .playerComputer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wholeContainer, .container-current-history{
    padding: 20px;
    padding-top: 2px;
}

.container-current-history{
    text-align: center;
    padding-bottom: 30px;
    margin:20px;
    border:3px solid black;
}

.playerComputer{
    border:2px solid black;
    width:150px;
    height:150px;
    margin:10px;
    padding-top: 20px;
}

.matchChoice{
    padding: 20px;
    font-size: 80px;
}

.mainHeader {
    display: flex;  
    background-color:rgb(51, 51, 51);
    color: white;
    align-items: center;
    justify-content: center;
  }

  body{
    
    margin:0px
  }

  .main{
    display: flex;
    flex-direction: column;
    background-color: white;

  }

.container-main-content{
    display:flex;
    justify-content: center;
    padding:20px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
    background-color: rgb(167, 167, 167);
  }

  .final-result{
    text-align: center;

  }