:root {
    --boxShadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
}

.choices{
    font-size: 80px;
}

.choicesButton, .play-again{
    width: 100px;
    cursor: pointer;
    box-shadow: var(--boxShadow)
}

.choicesButton:hover, .play-again:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    transition: all .3s;
}

.containerChoices, .containerPicked{
    display: flex;
    margin:10px;
    gap:40px;
}

.container-history{
    display: flex;
    justify-content: space-around;
}

.container-history-three{
    justify-content: center;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.history-individual {
    text-align: center;
    width:100px
}

.wholeContainer, .playerComputer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wholeContainer, .container-current-history{
    padding: 20px;
    padding-top: 2px;
}

.container-current-history{
    text-align: center;
    padding-bottom: 30px;
    margin:20px;
    border:3px solid black;
    box-shadow: var(--boxShadow);
}

.playerComputer{
    border:2px solid black;
    width:150px;
    height:150px;
    margin:10px;
    padding-top: 20px;
    box-shadow: var(--boxShadow)
}

.matchChoice{
    padding: 20px;
    font-size: 80px;
}

.mainHeader {
    background-color:rgb(51, 51, 51);
    color: white;
    text-align: center;
    padding:5px;
    font-size: 23px;
}

body{
    font-family: "Lucida Console", "Courier New", monospace;
    margin:0px
}

.main{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
}

.container-main-content{
    display:flex;
    justify-content: center;
    padding:30px;
    gap:50px;
    margin:30px
}
  
.final-result{
    text-align: center;
}

.container-final-result{
    display: flex;
    justify-content: center;
    gap:20px
}

.match-result{
    text-align: center;
    height: 55px;
    width: 520px;

}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
    background-color: #d6d6d6;
}

a {
    position: relative;
    color:inherit;
    text-decoration: none;
    font-weight: bold;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}